#############################################################################
# Do not add the following files to repository
# @author Archie M
#
#############################################################################
.data
.idea
.DS_Store
**/.DS_Store
